.card {
    width: 300px;
    margin: auto;
    margin-top: 20px;
    background-color: #3A3F44;
    
}

.header{
    background-color: #b7b7b7;
    padding-top: 10px;
    border-radius: 25px;
    margin-top: 10px;
}


